.mobile_nav {
  position: fixed;
  bottom: 0dvh;
  width: 100%;
  display: flex !important;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  @include flex(center, center, row, 0rem);
  background: var(--body-bg-clr);
  height: 6rem;
  padding: 1rem 0.5rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0.5rem 1rem;
  z-index: 1000;
  ul {
    font-size: var(--font-small);
    font-family: var(--arabic-fm-r);
    list-style: none;
    width: 100%;
    @include flex(center, space-between, row, 0rem);
    li {
      @include flex(center, center, column, 0rem);
      span {
        @include flex(center, center, column, 0.5rem);
        svg {
          fill: var(--dark-svg-clr);
        }
      }
    }
    .unknown {
      padding: 1.5rem;
      background: var(--header-gradient);
      border-radius: 50%;
      display: grid;
      place-content: center;
      span {
        svg {
          scale: 1.3;
          stroke-width: 1px;
          fill: var(--light-svg-clr);
        }
      }
    }
  }
}
@media (min-width: 1500px) {
  .mobile_nav {
    display: none;
  }
}
